---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Gallery from "@/components/Gallery.astro";
import WhyChooseUs from "@/components/WhyChooseUs.astro";
import AboutUs from "@/components/AboutUs.astro";
import ScrollIcon from "../components/icons/ScrollIcon.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
---

<Layout
  title="Misi Spa Ec-Gye - Peluquería canina y felina a domicilio"
  description="Servicio profesional de peluquería para perros y gatos en la comodidad de tu hogar en Guayaquil."
>
  <main class="px-4">
    <SectionContainer class="py-6 md:py-16">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="servicios">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <Briefcase class="size-8" />
          Servicios
        </h2>
        <Services />
      </SectionContainer>

      <SectionContainer id="galeria">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          Galería
        </h2>
        <Gallery />
      </SectionContainer>

      <SectionContainer id="porque">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          ¿Por qué elegirnos?
        </h2>
        <WhyChooseUs />
      </SectionContainer>

      <SectionContainer id="nosotros">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          Nosotros
        </h2>
        <AboutUs />
      </SectionContainer>
    </div>
  </main>
  <ScrollIcon />
</Layout>
