---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import HeroSpa from "@/components/HeroSpa.astro";
import Services from "@/components/Services.astro";
import Gallery from "@/components/Gallery.astro";
import WhyChooseUs from "@/components/WhyChooseUs.astro";
import ContactInfo from "@/components/ContactInfo.astro";
import ScrollIcon from "../components/icons/ScrollIcon.astro";
---

<Layout
  title="Misi Spa Ec-Gye - Peluquería canina y felina a domicilio"
  description="Servicio profesional de peluquería canina y felina a domicilio en Guayaquil."
>
  <main class="px-4">
    <SectionContainer class="py-6 md:py-16">
      <HeroSpa />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="servicios">
        <h2 class="mb-6 text-3xl font-semibold text-black/80 dark:text-white">¿Qué incluye nuestro servicio?</h2>
        <Services />
      </SectionContainer>
      <SectionContainer id="por-que-elegirnos">
        <h2 class="mb-6 text-3xl font-semibold text-black/80 dark:text-white">¿Por qué elegirnos?</h2>
        <WhyChooseUs />
      </SectionContainer>
      <SectionContainer id="galeria">
        <h2 class="mb-6 text-3xl font-semibold text-black/80 dark:text-white">¡Mira nuestros clientes felices!</h2>
        <Gallery />
      </SectionContainer>
      <SectionContainer id="contacto">
        <h2 class="mb-6 text-3xl font-semibold text-black/80 dark:text-white">Agenda tu cita</h2>
        <ContactInfo />
      </SectionContainer>
    </div>
  </main>
  <ScrollIcon />
</Layout>
