---
const personalImageAlt = "Alejandro Molina";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import WhatsappIcon from "@/components/icons/Whatsapp.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
const profileImage = `${import.meta.env.BASE_URL}me-1.webp`;
---

<div class="max-w-xl animate-fade-in-up">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-24" 
      src={profileImage}
      alt={personalImageAlt}
      style="width: 100px; height: auto;"
    />
    <a
      href="https://linkedin.com/in/jesus-alejandro-molina-peñaherrera"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105 "
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Jesús Molina
  </h1>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Soy <strong>Ingeniero en Sistemas</strong> con más de 3 años de experiencia desarrollando soluciones web y de escritorio desde Guayaquil, Ecuador. 
    <br />
    Especializado en proyectos industriales, administrativos y corporativos.
  </p>

  <p class="mt-4 text-yellow-600 dark:text-green-300">
  He diseñado e implementado sistemas robustos, eficientes y escalables para sectores agrícola, empresarial y educativo.
</p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jmolinap95@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/jesus-alejandro-molina-peñaherrera">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://wa.me/593960712144">
      <WhatsappIcon class="size-4" />
      WhatsApp
    </SocialPill>
  </nav>
</div>
