---
---

<ul class="grid gap-2 list-disc list-inside text-gray-700 dark:text-gray-300">
  <li>Corte higiénico</li>
  <li>Baño cosmético o medicado</li>
  <li>Cepillado y deslanado</li>
  <li>Limpieza de oídos</li>
  <li>Corte y limado de uñas</li>
  <li>Secado y perfumado</li>
</ul>
<p class="mt-4">Utilizamos productos de calidad adaptados al tipo de piel y pelaje de tu mascota.</p>
