---
import Angular from "./icons/Angular.astro"
import CSharp from "./icons/CSharp.astro"
import SqlServer from "./icons/SqlServer.astro"
import Nodejs from "./icons/Nodejs.astro"
import Postgresql from "./icons/Postgresql.astro"
import Django from "./icons/Django.astro"
import Python from "./icons/Python.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import { ICONS } from './icons';
const STACK = Object.entries(ICONS).map(([name, icon]) => ({ name, icon }));
---

<section class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 px-4 sm:px-6 lg:px-8 py-12">
  {STACK.map(({ name, icon: Icon }) => (
    <div
      class="flex flex-col items-center justify-center gap-2 p-5 border rounded-2xl bg-white dark:bg-white/10 border-gray-200 dark:border-white/10 shadow-sm dark:shadow-none
             transform transition-all duration-300 ease-in-out
             hover:scale-105 hover:rotate-[1deg] hover:shadow-[0_0_12px_rgba(0,255,225,0.6)] hover:dark:shadow-[0_0_15px_#00ffe1]"
    >
      <Icon class="size-10 transition-transform duration-500 group-hover:rotate-12" />
      <span class="mt-1 text-sm font-semibold text-gray-800 dark:text-white">{name}</span>
    </div>
  ))}
</section>
