---
import Angular from "./icons/Angular.astro"
import CSharp from "./icons/Csharp.astro"
import SqlServer from "./icons/SqlServer.astro"
import Nodejs from "./icons/Nodejs.astro"
import Postgresql from "./icons/Postgresql.astro"
---

<section class="grid grid-cols-2 md:grid-cols-3 gap-6 text-sm text-white/90">
  <div class="flex flex-col items-center justify-center gap-2 p-6 bg-white/5 dark:bg-white/10 border border-white/10 rounded-xl hover:scale-105 hover:shadow-lg transition-all duration-300">
    <Angular class="size-10" />
    <span class="font-semibold">Angular</span>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 p-6 bg-white/5 dark:bg-white/10 border border-white/10 rounded-xl hover:scale-105 hover:shadow-lg transition-all duration-300">
    <CSharp class="size-10" />
    <span class="font-semibold">C# .NET</span>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 p-6 bg-white/5 dark:bg-white/10 border border-white/10 rounded-xl hover:scale-105 hover:shadow-lg transition-all duration-300">
    <SqlServer class="size-10" />
    <span class="font-semibold">SQL Server</span>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 p-6 bg-white/5 dark:bg-white/10 border border-white/10 rounded-xl hover:scale-105 hover:shadow-lg transition-all duration-300">
    <Nodejs class="size-10" />
    <span class="font-semibold">Node.js</span>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 p-6 bg-white/5 dark:bg-white/10 border border-white/10 rounded-xl hover:scale-105 hover:shadow-lg transition-all duration-300">
    <Postgresql class="size-10" />
    <span class="font-semibold">PostgreSQL</span>
  </div>
</section>
