---
---

<ul class="grid gap-2 list-disc list-inside text-gray-700 dark:text-gray-300">
  <li>Atención personalizada</li>
  <li>Trato cariñoso y paciente con cada mascota</li>
  <li>Comodidad total: ¡no tienes que salir de casa!</li>
  <li>Experiencia comprobada en perros y gatos de todas las razas</li>
</ul>
